@model CDM.Database.Models.SousCopropriete
@{
    ViewData["Title"] = "Modifier une sous-copropriété";
}

<h3 class="mb-3">Modifier une sous-copropriété</h3>

<form asp-action="Edit" class="shadow-sm p-4 bg-white rounded">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label asp-for="Nom" class="form-label"></label>
        <input asp-for="Nom" class="form-control" />
        <span asp-validation-for="Nom" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success mt-3">Enregistrer</button>
    <a asp-action="Index" class="btn btn-secondary mt-3">Annuler</a>
</form>
