@model CDM.Database.Models.Coproprietaire

@{
    ViewData["Title"] = "Supprimer un copropriétaire";
}

<div class="alert alert-danger shadow-sm">
    <h4 class="alert-heading">Confirmation de suppression</h4>
    <p>Êtes-vous sûr de vouloir supprimer ce copropriétaire ?</p>

    <ul>
        <li>Nom : <strong>@Model.Nom</strong></li>
        <li>Email : @Model.Email</li>
    </ul>
</div>

<form asp-action="DeleteConfirmed">
    <input type="hidden" asp-for="Id" />

    <button type="submit" class="btn btn-danger">Supprimer</button>
    <a asp-action="Index" class="btn btn-secondary">Annuler</a>
</form>
