body {
    background: $body-bg;
    font-family: system-ui, sans-serif;
}

.content {
    margin-left: 260px;
    padding: 30px;
}

nav{
    form{
        background: none;
    }
}

footer {
    margin-top: 40px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
    color: #777;
}
