@model CDM.Database.Models.Trimestre

@{
    ViewData["Title"] = "Créer un trimestre";
}

<h3 class="mb-3">Créer un trimestre</h3>

<form asp-action="Create" class="shadow-sm p-4 bg-white rounded">

    <div class="mb-3">
        <label asp-for="Annee" class="form-label"></label>
        <input asp-for="Annee" class="form-control" />
        <span asp-validation-for="Annee" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Numero" class="form-label"></label>
        <select asp-for="Numero" class="form-select">
            <option value="1">T1</option>
            <option value="2">T2</option>
            <option value="3">T3</option>
            <option value="4">T4</option>
        </select>
        <span asp-validation-for="Numero" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success mt-3">Créer</button>
    <a asp-action="Index" class="btn btn-secondary mt-3">Annuler</a>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
