@model CDM.Database.Models.AppelDeFond

<div class="alert alert-danger shadow-sm">
    <h4 class="alert-heading">Supprimer un appel de fond</h4>

    <ul>
        <li>Copropriétaire : @Model.Coproprietaire.Nom</li>
        <li>Trimestre : @Model.Trimestre.Annee - T@Model.Trimestre.Numero</li>
        <li>Montant dû : @Model.MontantDu €</li>
    </ul>
</div>

<form asp-action="DeleteConfirmed">
    <input type="hidden" asp-for="Id" />

    <button type="submit" class="btn btn-danger">Supprimer</button>
    <a asp-action="Index" class="btn btn-secondary">Annuler</a>
</form>
