@model CDM.Database.Models.AppelDeFond

@{
    ViewData["Title"] = "Modifier un appel de fond";
}

<h3 class="mb-3">Modifier un appel de fond</h3>

<form asp-action="Edit" class="shadow-sm p-4 bg-white rounded">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label class="form-label">Copropriétaire</label>
        <select asp-for="CoproprietaireId" class="form-select"
                asp-items="@(new SelectList(ViewBag.Coproprietaires, "Id", "Nom"))"></select>
    </div>

    <div class="mb-3">
        <label class="form-label">Trimestre</label>
        <select asp-for="TrimestreId" class="form-select"
                asp-items="@(new SelectList(ViewBag.Trimestres, "Id", "Label"))"></select>
    </div>

    <div class="row">
        <div class="col">
            <label asp-for="MontantDu" class="form-label"></label>
            <input asp-for="MontantDu" class="form-control" />
        </div>

        <div class="col">
            <label asp-for="MontantRegle" class="form-label"></label>
            <input asp-for="MontantRegle" class="form-control" />
        </div>
    </div>

    <div class="mt-3">
        <label asp-for="Regularisation" class="form-label"></label>
        <input asp-for="Regularisation" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success mt-3">Enregistrer</button>
    <a asp-action="Index" class="btn btn-secondary mt-3">Annuler</a>
</form>
